<h1>My products</h1>
<form (ngSubmit)="onAddProduct(f)" #f="ngForm">
    <input ngModel name="productName" required>
    <button [disabled]="f.invalid" type="submit">add product</button>
</form>
<app-product *ngFor="let product of products" [productName]="product" (productClicked)="onRemoveProduct(product)"></app-product>